$main-background: #F4F5FC;
$main-color: #5A61ED;

$dark-color-text: #111111;
$light-color-text: #FFFFFF;
$average-color-text: #7C7C7C;

$bottom-line-color: #F2F2F2;
$bottom-line-color-error: #ff0000;


$bottom-line-hover-color: #696767;