@import './base/variables';

@import './blocks/form-aside';
@import './blocks/form';
@import './blocks/keyframes';

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    background: $main-background;
}

.sign-up {
    max-width: 665px;
    height: 481px;
    margin: auto;
    display: flex;
    
}
