.main {
    padding: 39px 20px;

    &__title {
        font-family: "Work Sans";
        font-size: 22px;
        color: $dark-color-text;
        font-weight: 500px;
        letter-spacing: -0.46px;
    }

    &__subtitle {
        font-family: "Work Sans";
        font-size: 14px;
        color: $dark-color-text;
        letter-spacing: -0.3px;
    }
}